@import url(../bower_components/normalize-css/normalize.css);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400);
body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default; }

.globalFont {
  font-family: "Source Code Pro", sans-serif; }

.primaryColor {
  color: #e0e0e0; }

.primaryColorHeader {
  color: white; }

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  position: fixed;
  overflow: hidden;
  display: block;
  opacity: 1;
  z-index: 99;
  background-color: #eee;
  text-align: center; }
  #loading h1 {
    position: inline-block;
    vertical-align: center;
    text-align: center;
    color: black; }

html, body {
  height: 100%;
  margin: 0; }

@media (max-width: 767px) {
  body {
    padding: 20px 20px 20px 20px;
    height: calc(100% - 40px); } }
@media (min-width: 768px) {
  body {
    padding: 40px 60px 60px 60px;
    height: calc(100% - 100px); } }

.backgroundFilter {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: saturate(150%) brightness(0.9);
          filter: saturate(150%) brightness(0.9);
  z-index: -1;
  position: fixed;
  background-size: cover;
  background-image: url(../images/brisbaneStoryBridge.jpg);
  background-repeat: none;
  background-position: center center;
  background-attachment: fixed; }
  @media (max-width: 767px) {
    .backgroundFilter {
      -webkit-filter: brightness(0.8);
              filter: brightness(0.8); } }

.linkHoverStyle {
  text-decoration: none;
  border-bottom: 2px solid #e0e0e0;
  -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out; }
  .linkHoverStyle:hover {
    color: white;
    border-color: rgba(224, 224, 224, 0.4);
    -webkit-transition: all 1s ease-out;
            transition: all 1s ease-out; }

header {
  margin: 0 auto 0 auto;
  text-align: center;
  max-width: 880px;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    header {
      padding-top: 10px; }
      header h1 {
        font-size: 2.4em; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    header {
      padding-top: 20px; }
      header h1 {
        font-size: 3em; } }
  @media (min-width: 1024px) and (max-width: 1599px) {
    header {
      padding-top: 20px; }
      header h1 {
        font-size: 4.5em; } }
  @media (min-width: 1600px) {
    header {
      padding-top: 40px; }
      header h1 {
        font-size: 4.8em; } }

ul {
  list-style: none;
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: center;
  max-width: 880px; }
  @media (min-width: 1600px) {
    ul {
      max-width: 1280px; } }

@media (min-width: 1024px) and (max-width: 1599px) {
  .mainLinks {
    margin-top: 20%; } }
@media (min-width: 1600px) {
  .mainLinks {
    margin-top: 15%; } }
@media (max-width: 767px) {
  .mainLinks .link {
    padding: 20px;
    display: block; }
    .mainLinks .link a {
      font-size: 1.4em; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .mainLinks .link {
    padding: 35px 30px;
    display: block; }
    .mainLinks .link a {
      font-size: 1.8em; } }
@media (min-width: 1024px) and (max-width: 1599px) {
  .mainLinks .link {
    padding: 0 50px;
    display: inline-block; }
    .mainLinks .link a {
      font-size: 2.2em; } }
@media (min-width: 1600px) {
  .mainLinks .link {
    padding: 0 80px;
    display: inline-block; }
    .mainLinks .link a {
      font-size: 2.8em; } }

.footerLinks {
  margin: 0 auto;
  position: fixed;
  margin: auto;
  max-width: 880px; }
  @media (max-width: 767px) {
    .footerLinks {
      bottom: 20px;
      left: 20px;
      right: 20px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .footerLinks {
      bottom: 20px;
      left: 60px;
      right: 60px; } }
  @media (min-width: 1024px) {
    .footerLinks {
      bottom: 40px;
      left: 60px;
      right: 60px; } }
  .footerLinks .footerLink {
    margin: 0 1% 0 1%;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    -webkit-transition: .5s;
            transition: .5s; }
    @media (min-width: 1024px) and (max-width: 1599px) {
      .footerLinks .footerLink {
        width: 66px;
        height: 66px; } }
    @media (min-width: 1600px) {
      .footerLinks .footerLink {
        width: 88px;
        height: 88px; } }
    .footerLinks .footerLink:hover {
      background-color: rgba(224, 224, 224, 0.2);
      -webkit-transition: background-color 1000ms ease-in-out;
              transition: background-color 1000ms ease-in-out;
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }
    .footerLinks .footerLink .linkWrapper {
      cursor: pointer; }
      .footerLinks .footerLink .linkWrapper .socialIcon path {
        fill: #e0e0e0;
        -webkit-transition: fill 1000ms ease-out;
                transition: fill 1000ms ease-out; }

#bottomPadding {
  width: 100%; }
  @media (min-width: 1024px) {
    #bottomPadding {
      height: 128px; } }
  @media (max-width: 767px) {
    #bottomPadding {
      height: 64px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #bottomPadding {
      height: 86px; } }

#bottomGradient {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  z-index: -1; }
  @media (min-width: 1024px) {
    #bottomGradient {
      height: 40px; } }
  @media (max-width: 767px) {
    #bottomGradient {
      height: 20px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #bottomGradient {
      height: 20px; } }
