@import "globalStyle";

html, body {
	height: 100%;
	margin: 0;
}

body {
	@media #{$mobile} {
		padding: 20px 20px 20px 20px;
		height: calc(100% - 40px);
	}
	@media #{$hdpi-desktop-tablet} {
		padding: 40px 60px 60px 60px;
		height: calc(100% - 100px);
	}
}

.backgroundFilter {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: saturate(150%) brightness(0.90);
	@media #{$mobile} {
		filter: brightness(0.8);
	}
	z-index: -1;
	position: fixed;
	background-size: cover;
	background-image: url(../images/brisbaneStoryBridge.jpg);
	background-repeat: none;
	background-position: center center;
	background-attachment: fixed;
}

.linkHoverStyle {
	text-decoration: none;
	border-bottom: 2px solid $themeWhite;
	transition: all 1s ease-in-out;
	&:hover {
		color: lighten($themeWhite, 20%);
		border-color: transparentize($themeWhite, 0.6);
		transition: all 1s ease-out;
	}
}

header {
	margin: 0 auto 0 auto;
	text-align: center;
	max-width: 880px;
	text-transform: uppercase;
	@media #{$mobile} {
		padding-top: 10px;
		h1 {
			font-size: 2.4em;
		}
	}
	@media #{$tablet} {
		padding-top: 20px;
		h1 {
			font-size: 3em;
		}
	}
	@media #{$desktop} {
		padding-top: 20px;
		h1 {
			font-size: 4.5em;
		}
	}
	@media #{$hdpi} {
		padding-top: 40px;
		h1 {
			font-size: 4.8em;
		}
	}
}

ul {
	list-style: none;
	margin: 0 auto 0 auto;
	padding: 0;
	text-align: center;
	max-width: 880px;
	@media #{$hdpi} {
		max-width: 1280px;
	}
}

.mainLinks {
	@media #{$desktop} {
		margin-top: 20%;
	}
	@media #{$hdpi} {
		margin-top: 15%;
	}
	.link {
		@media #{$mobile} {
			padding: 20px;
			display: block;
			a {
				font-size: 1.4em;
			}
		}
		@media #{$tablet} {
			padding: 35px 30px;
			display: block;
			a {
				font-size: 1.8em;
			}
		}
		@media #{$desktop} {
			padding: 0 50px;
			display: inline-block;
			a {
				font-size: 2.2em;
			}
		}
		@media #{$hdpi} {
			padding: 0 80px;
			display: inline-block;
			a {
				font-size: 2.8em;
			}
		}
	}
}

.footerLinks {
	margin: 0 auto;
	position: fixed;
	margin: auto;
	max-width: 880px;
	@media #{$mobile} {
		bottom: 20px;
		left: 20px;
		right: 20px;
	}
	@media #{$tablet} {
		bottom: 20px;
		left: 60px;
		right: 60px;
	}
	@media #{$hdpi-desktop} {
		bottom: 40px;
		left: 60px;
		right: 60px;
	}
	.footerLink {
		margin: 0 1% 0 1%;
		display: inline-block;
		border: 1px solid $themeWhite;
		border-radius: 50%;
		width: 44px;
		height: 44px;
		@media #{$desktop} {
			width: 66px;
			height: 66px;
		}
		@media #{$hdpi} {
			width: 88px;
			height: 88px;
		}
		transition: .5s;
		&:hover {
			background-color: transparentize($themeWhite, $hoverTransparency);
			transition: background-color 1000ms ease-in-out;
			transform: scale(1.2);
		}
		.linkWrapper {
			cursor: pointer;
			.socialIcon path {
				fill: $themeWhite;
				transition: fill 1000ms ease-out;
			}
		}
	}
}

#bottomPadding {
	width: 100%;
	@media #{$hdpi-desktop} {
		height: 88px + 40px;
	}
	@media #{$mobile} {
		height: 44px + 20px;
	}
	@media #{$tablet} {
		height: 66px + 20px;
	}
}

#bottomGradient {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5) , transparent);
	z-index: -1;
	@media #{$hdpi-desktop} {
		height: 40px;
	}
	@media #{$mobile} {
		height: 20px;
	}
	@media #{$tablet} {
		height: 20px;
	}
}
